/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "F37Ginger";

  src: url("./fonts/ginger-regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}